/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* General Mobile Touch ----------- */
/* line 14, ../sass/_respond.scss */
.mobile-touch-overflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/* line 23, ../sass/_respond.scss */
.mobile-touch-overflow,
.mobile-touch-overflow * {
  /* some level of transform keeps elements from blinking out of visibility on iOS */
  -webkit-transform: rotateY(0);
}

/* line 1, ../sass/_header.scss */
.header {
  background: #2a343a;
  height: 60px;
  width: 100%;
}
/* line 6, ../sass/_header.scss */
.header .logo {
  margin: 0 30px 0 0;
  background-image: url("../img/logo.png?1");
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
  height: 60px;
  transition: opacity 0.2s ease 0s;
  width: 163px;
  float: left;
}
/* line 18, ../sass/_header.scss */
.header .toggle-nav {
  display: none;
}
/* line 22, ../sass/_header.scss */
.header .menu {
  list-style: none outside none;
  margin: 0 -2px 0 0;
}
/* line 25, ../sass/_header.scss */
.header .menu li {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
}
/* line 30, ../sass/_header.scss */
.header .menu li a {
  color: #889ca8;
  font-size: 1.5em;
  line-height: 60px;
  -webkit-transition: color ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  -o-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
/* line 36, ../sass/_header.scss */
.header .menu li a:hover {
  color: #da9e26;
}

@media (max-width: 599px) {
  /* line 47, ../sass/_header.scss */
  .header {
    height: auto;
  }
  /* line 50, ../sass/_header.scss */
  .header .row {
    padding: 0 !important;
  }
  /* line 54, ../sass/_header.scss */
  .header .logo {
    float: none;
    margin: auto;
  }
  /* line 59, ../sass/_header.scss */
  .header .menu {
    float: left;
    width: 100%;
    background: #2a343a;
    height: 0;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }
  /* line 66, ../sass/_header.scss */
  .header .menu.nav-open {
    height: auto;
  }
  /* line 70, ../sass/_header.scss */
  .header .menu li {
    display: block;
    border-bottom: 1px solid #4a5c66;
    padding: 0 20px;
    margin: 0;
  }
  /* line 76, ../sass/_header.scss */
  .header .menu li:last-child {
    border-bottom: none;
  }
  /* line 80, ../sass/_header.scss */
  .header .menu li a {
    display: block;
    line-height: 40px;
  }
  /* line 86, ../sass/_header.scss */
  .header .toggle-nav {
    background-image: url("../img/icon-nav.png");
    background-position: 15px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 60px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 48px;
  }
}
/* line 1, ../sass/_footer.scss */
.footer {
  position: relative;
  height: 50px;
  line-height: 50px;
}

/* line 1, ../sass/_grid.scss */
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  min-height: 1px;
  float: left;
  position: relative;
  height: auto;
}

/* line 8, ../sass/_grid.scss */
.row {
  width: 100%;
  margin: 0px 0px 20px 0px;
}

/* line 13, ../sass/_grid.scss */
.c1 {
  width: 8.33%;
}

/* line 16, ../sass/_grid.scss */
.c2 {
  width: 16.66%;
}

/* line 19, ../sass/_grid.scss */
.c3 {
  width: 25%;
}

/* line 22, ../sass/_grid.scss */
.c4 {
  width: 30%;
}

/* line 25, ../sass/_grid.scss */
.c5 {
  width: 41.66%;
}

/* line 28, ../sass/_grid.scss */
.c6 {
  width: 50%;
}

/* line 31, ../sass/_grid.scss */
.c7 {
  width: 58.33%;
}

/* line 34, ../sass/_grid.scss */
.c8 {
  width: 66.66%;
}

/* line 37, ../sass/_grid.scss */
.c9 {
  width: 75%;
}

/* line 40, ../sass/_grid.scss */
.c10 {
  width: 83.33%;
}

/* line 43, ../sass/_grid.scss */
.c11 {
  width: 91.66%;
}

/* line 46, ../sass/_grid.scss */
.c12 {
  width: 100%;
}

/* line 49, ../sass/_grid.scss */
.clearfix {
  clear: both;
}

@media (max-width: 980px) {
  /* line 56, ../sass/_grid.scss */
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
}
/* line 15, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
}

/* line 28, ../sass/screen.scss */
h1 {
  color: #da9e26;
  font-family: "SteelfishRgRegular",Helvetica,Arial,sans-serif;
  font-size: 3.8em;
  line-height: 1.4em;
}

/* line 35, ../sass/screen.scss */
h2 {
  color: #4a91a3;
  font-family: "SteelfishRgRegular",Helvetica,Arial,sans-serif;
  font-size: 2.8em;
  line-height: 1.4em;
}

/* line 42, ../sass/screen.scss */
p {
  color: #373737;
  font: 300 1.5em/1.625 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 47, ../sass/screen.scss */
iframe {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* line 53, ../sass/screen.scss */
.row {
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
  max-width: 1640px;
  min-width: 0;
  width: 100%;
}
/* line 63, ../sass/screen.scss */
.row:before,
.row :after {
  content: " ";
  display: table;
  clear: both;
}

/* line 70, ../sass/screen.scss */
.main {
  padding: 60px 0 0;
}
/* line 73, ../sass/screen.scss */
.main .row {
  padding: 0 20px 30px;
}

/* line 78, ../sass/screen.scss */
.php {
  clear: both;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  margin: 20px auto 40px;
  padding: 0 !important;
  overflow: visible;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0.1)), color-stop(85%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 85%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 85%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 85%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 85%, rgba(0, 0, 0, 0) 100%);
}

/* line 94, ../sass/screen.scss */
.php:after {
  background-image: url("../img/icon-elephant.png");
  content: " ";
  display: block;
  height: 28px;
  left: 50%;
  margin: 0 0 0 -20px;
  position: absolute;
  top: -10px;
  width: 40px;
}

/* line 106, ../sass/screen.scss */
.chart {
  margin: auto;
}
